@import "../../node_modules/font-awesome/css/font-awesome.min.css";

/* Fonts ---------------------------- */

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro'), url(fonts/SourceCodePro-Regular.ttf) format('truetype');
}

/* Global ---------------------------- */

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
  background-color: #fff;
  color: var(--color);
  font-size: 14px; /* Prevents rubber-band scrolling of the whole "page" */
  font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  line-height: 1.5; /* To cover OSes with no default background color */
}

body {
  display: flex;
  margin: 0;
  height: 100%;
}

a {
  color: var(--color-link);
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
}

h1 {
  font-weight: 600;
  font-size: 1.5em;
}

h2 {
  font-weight: normal;
  font-size: 1.3em;
}

h3 {
  font-weight: 600;
  font-size: 1.12em;
}

table {
  width: 100%;
  border: 1px solid hsla(0, 0%, 0%, .08);
  border-spacing: 0;
  border-width: 0 1px 1px 0;
}

th {
  background-color: hsla(0, 0%, 50%, .06);
}

th,
td {
  border: 1px solid hsla(0, 0%, 0%, .08);
  border-width: 1px 0 0 1px;
  text-align: center;
}

svg {
  fill: currentColor;
}

/* Code */

code, kbd {
  padding: 0 4px;
  border-radius: 4px;
  background-color: hsla(0, 0%, 60%, .2);
  color: hsl(0, 0%, 36%);
  white-space: nowrap;
  font-family: 'Source Code Pro', monospace;
}

pre, kbd {
  overflow: auto;
  margin: 0;
  padding: 1em;
  border: 1px solid;
  border-color: var(--color-border);
  border-radius: 3px;
  background-color: white;
  font-size: 13px;
}

pre code {
  white-space: pre;
}

pre + pre {
  margin-top: 10px;
}

kbd {
  padding: 0.5em;
}

/* Utilities ---------------------------- */

.u-avoid-clicks {
  pointer-events: none;
}

/* Visually hidden, but will be read by screen readers */
.u-visible-to-screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

/* Content ------------------ */

.content {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.text-muted {
  color: #bbb;
}

/* Utilities ---------------- */

.rotate-45 {
  transform: rotate(45deg);
}
