/*
** nativize.css
** Makes the UI feel more native
*/

html {
  font-family: sans-serif;
  -webkit-user-select: none; /* disable selection */
  -webkit-user-drag: none; /* disable dragging */
  cursor: default; /* use default cursor */
}

body {
  margin: 0; /* remove default margin */
}


/* enable text selection */

.is-selectable,
pre,
code {
  -webkit-user-select: auto;
  cursor: auto;
}


/* Buttons and links */

button{
  cursor: default;
}

/* Internal links */
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

/* New window (target) + external links */
a[target],
a[href^="https://"],
a[href^="http://"] {
  border-bottom: none;
}

a:hover,
a:focus {
  border-bottom: 1px solid;
}

a * {
  pointer-events: none;
}


/* Images */

img {
  -webkit-user-drag: none; /* disable dragging */
}

/* Inputs */

input[type="text"] {
  padding: 7px;
  border: 2px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
}

input[type="text"]:focus {
  outline: 0;
  border-color: #bbb;
}
