/* Nav */

.nav {
  overflow-x: hidden;
  overflow-y: auto;
  width: 250px;
  border-right: 1px solid var(--color-border);
  background-color: var(--color-bg);
  color: var(--color-subtle);
}

.nav-header {
  opacity: 0;
  height: 0;

  transition: all 300ms ease-in-out;
}

.nav-header-content {
  position: relative;
  display: flex;
  padding: 18px;
}

.nav-header-content div:first-child {
  flex: 0 0 auto;
}

.nav-title {
  margin: 0;
}

.nav-rep {
  font-size: 70%;
}

.nav-avatar {
  font-size: 0;
}

.nav-avatar-img {
  margin-right: 10px;
  width: 50px;
  border-radius: 50%;
}

.nav-name {
  padding-top: 6px;
  color: black;
}

.nav-logout {
  position: absolute;
  top: 30px;
  right: 10px;
}

.nav-logout img {
  width: 24px;
}

.nav-button {
  position: relative;
  display: block;
  padding: .5rem;
  padding-left: 18px;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  text-align: left;
  font: inherit;
  font-size: 13px;
  line-height: 2;
  cursor: default;
}

.nav-button:hover,
.nav-button:focus:not(.is-selected) {
  background-color: hsla(0, 0%, 0%, .1);
}

.nav-button-counter {
  position: absolute;
  top: 6px;
  right: 13px;
  font-size: 14px;
  pointer-events: none; /* Prevents click on the element so handler can get button as a target  */
}

.nav-button.is-selected {
  background-color: #4b73a8;
}

.nav-button.is-selected,
.nav-button.is-selected em {
  color: #fff;
}
