
.question-screen-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
}

.question-screen {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  overflow-y: auto;
  padding: 25px 60px 50px 30px;
  width: calc(var(--question-screen-width)); /* 300px - sidebar, 50px - offset */
  height: 100%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

/* Use bigger title on question page */
.question-screen-content .question-title {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 20px;
}

.question-screen-content img {
  max-width: 100%;
}

/* Remove image link underlining */
.question-screen-content a[href^="http://i.stack.imgur.com"] {
  border: none;
  cursor: pointer;
}

.question-screen.is-shown {
  display: block;
  animation: slide-left 250ms ease-out;
}

.question-screen-backdrop.is-shown {
  display: block;
  animation: fade-in 600ms;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.question-comments {
  margin-top: 20px;
  background-color: #FFFFFF;
  font-size: 12px;
}

.question-status-bar {
  overflow: hidden;
  margin: 0 -60px 10px -30px;
  padding: 0 7px;
  background: #3986dd;
  color: white;
  transform: translate3D(0, 0, 0);
  will-change: transform;
}

.question-status-bar.__sticky {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  width: calc(var(--question-screen-width));
}

.question-status-bar.__accepted {
  background: #3aa340;
}

.question-status-bar.__answered {
  background: #E69C38;
}

.question-status-bar-action {
  padding: 4px 7px;
  color: white;
  text-decoration: none;
  float: left;
}

.question-status-bar-action.__right {
  float: right;
}

.question-status-bar-action:hover, .question-status-bar-action:hover {
  border-bottom: 0;
  background-color: rgba(255, 255, 255, .1);
}

.question-comments-title {
  font-weight: bold;
}

.question-comments-list {
  min-height: 1px; /* This is needed to summarize margins of closest siblings */
}

.question-comments-list-item {
  margin: 0 -30px 0 -20px;
  padding: 8px 30px 8px 20px;
  line-height: 15px;
}

.question-comments-list-item:nth-child(even) {
  background: #F0F0F0;
}

.question-comments-list-item:nth-child(even) code, kbd {
  /* TODO make darken */
}

.question-comments-list-item.__my .question-comments-profile-link {
  color: #A71D5D;
}

.question-comments-list-item:not(.__my) .question-comments-controls {
  display: none;
}

.question-comments-controls {
  white-space: nowrap;
}

.question-comments-form {
  margin-top: 8px;
}

.question-comments-form input {
  width: 100%;
}

.question-comments-form-errors {
  margin-top: 3px;
  color: red;
}

.question-answer-buttons {
  display: none;
  margin-top: 10px;
}
