#answer-questions-section {
  padding: 0;
}

.question {
  position: relative;
  padding: 10px 15px ;
  /*transition: background 100ms;*/
}

.question:hover {
  /*background: #f7f7f7;*/
}

.question-title {
  /*font-weight: bold;*/
}

.question-title.__reviewed {
  color: #aaa;
}

.question-info {
  color: #919191;
  font-size: 12px;
}

.question-tags {
  display: inline-block;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  list-style: none;
}

.question-tags li {
  display: inline-block;
  padding: 3px 9px;
  border-radius: 2px;
  background: #d8ebf3;
  font-size: 12px;
}

.question-tags li + .question-tags li {
  margin-right: 5px;
}

.question-answered {
  font-weight: bold;
}

.question-comment-count {
  margin-left: 3px;
  color: #919191;
  font-size: 12px;
}

.question-time {
  font-weight: normal;
  color: #aaa;
  font-size: 12px;
}
