.question {
  position: relative;
  padding-top: 10px;
  padding-bottom: 12px;
}

.question:first-child {
  padding-top: 0;
}

.question:last-child {
  padding-bottom: 0;
}

.question + .question {
  border-top: 1px solid #F0F0F0;
}

.question-title {
  font-weight: bold;
}

.question-info {
  color: #919191;
  font-size: 12px;
}

.question-tags {
  display: inline-block;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  list-style: none;
}

.question-tags li {
  display: inline-block;
  padding: 3px 9px;
  border-radius: 2px;
  background: #d8ebf3;
  font-size: 12px;
}

.question-tags li + .question-tags li {
  margin-right: 5px;
}

.question-answered {
  font-weight: bold;
}

.question-comment-count {
  margin-left: 3px;
  color: #919191;
  font-size: 12px;
}

.question-time {
  position: absolute;
  top: 12px;
  right: 0;
  color: #aaa;
  font-size: 11px;
}
