
.question-screen-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.question-screen {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  overflow-y: auto;
  padding: 25px 60px 50px 30px;
  width: calc(var(--question-screen-width)); /* 300px - sidebar, 50px - offset */
  height: 100%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.question-screen-content {
  opacity: 1;
  transition: opacity 300ms;
}

/* Use bigger title on question page */
.question-screen-content .question-title {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 20px;
}

.question-screen-content img {
  max-width: 100%;
}

/* Remove image link underlining */
.question-screen-content a[href^="http://i.stack.imgur.com"] {
  border: none;
  cursor: pointer;
}

.question-screen.is-shown {
  display: block;
  animation: slide-left 250ms ease-out;
}

.question-screen-backdrop.is-shown {
  display: block;
  animation: fade-in 600ms;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(5px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.question-comments {
  margin-top: 20px;
  background-color: #FFFFFF;
  font-size: 12px;
}

.question-status-bar {
  position: relative;
  overflow: hidden;
  margin: 0 -60px 10px -30px;
  padding: 0 7px;
  min-height: 26px;
  background: #3986dd;
  color: white;
  transform: translate3D(0, 0, 0);
  will-change: transform;
}

.question-status-bar.__sticky {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  width: calc(var(--question-screen-width));
}

.question-status-bar.__sticky + .question-status-bar-placeholder {
  margin: 0 -60px 10px -30px;
  height: 26px;
}

.question-status-bar.__accepted {
  background: #3aa340;
}

.question-status-bar.__answered {
  background: #E08811;
}

.question-status-bar.__show-tip {
  background: #E6E6E6;
  color: black;
  transition: background 200ms;
}

.question-status-bar-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 200ms;
}

.question-status-bar-tip {
  position: absolute;
  top: 26px;
  transition: top 200ms;
}

.question-status-bar.__show-tip .question-status-bar-tip {
  top: 4px;
}

.question-status-bar.__show-tip .question-status-bar-content {
  top: -26px;
}

.question-status-bar-action {
  float: left;
  padding: 4px 7px;
  color: white;
  text-decoration: none;
}

.question-status-bar-action.__right {
  float: right;
}

.question-status-bar-action:hover, .question-status-bar-action:focus {
  border-bottom: 0;
  background-color: rgba(255, 255, 255, .1);
}

.question-status-bar-profile-image {
  margin: -9px 2px -9px 0;
  height: 26px;
}

.question-comments-title {
  font-weight: bold;
}

.question-comments-list {
  min-height: 1px; /* This is needed to summarize margins of closest siblings */
}

.question-comments-list-item {
  margin: 0 -60px 0 -30px;
  padding: 8px 60px 8px 30px;
  line-height: 15px;
}

.question-comments-list-item.__highlighted {
  position: relative;
}

.question-comments-list-item:after {
  position: absolute;
  top: 10px;
  left: 12px;
  visibility: hidden;
  color: black;
  content: '\f054';
  font-family: FontAwesome;
  transition: left 200ms cubic-bezier(0.250, 0.250, 0.400, 1.750);
}

.question-comments-list-item.__highlighted:after {
  left: 16px;
  visibility: visible;
}

.question-comments-list-item-body {
  opacity: 1;
  transition: opacity 200ms;
}

.question-comments-list.__show-mentions .question-comments-list-item:not(.__highlighted) .question-comments-list-item-body {
  opacity: .4;
}

.question-comments-profile-color {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.question-comments-profile-link {
  margin-right: 5px;
}

.question-comments-list-item.__my .question-comments-profile-link {
  /*color: #A71D5D;*/
}

.question-comments-list-item:not(.__my) .question-comments-controls {
  display: none;
}

.question-comments-controls {
  white-space: nowrap;
}

.question-comments-form {
  margin-top: 8px;
}

.question-comments-form input {
  width: 100%;
}

.question-comments-form-errors {
  margin-top: 3px;
  color: red;
}

.question-answer-buttons {
  margin-top: 10px;
}

/* ACTIONS */
.question-status-bar-action {
  position: relative;
}

.question-status-bar-action:after {
  position: absolute;
  top: 4px;
  right: 2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #00f000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  content: '';
  opacity: 0;
}

.question-status-bar-action.__new:after {
  opacity: 1;
  animation: fadein 600ms;
}

.question-status-bar-action.like.__liked .fa {
  color: #DA5B5B;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    transform: scale(2);
  }
}

.__outdated {
  opacity: .3;
}

/* Question answer */
.question-answer {
}

.question-answer-profile-image {
  margin: 0 3px -5px -5px;
  height: 25px;
}

.question-answer .question-comments-profile-link {
  margin-left: -5px;
  padding: 5px;
  border-bottom: 2px solid #ddd;
}

.question-answer.__accepted .question-comments-profile-link {
  border-bottom: 2px solid #3aa340;
}

.question-answer .question-comments-profile-link a {
  font-weight: bold;
}

.question-answer.__answered .question-comments-profile-link {
  background: linear-gradient(to bottom right, #49D8C4, #B7A943);
}

.question-answer:not(.__accepted) .question-answer-accepted-label {
  display: none;
}

.question-answer-body {
  padding-left: 27px;
  font-size: 14px;
  line-height: 21px;
}
