.question-screen-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
}

.question-screen {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  overflow-y: auto;
  padding: 15px 30px 40px 20px;
  width: calc(100% - 350px); /* 300px - sidebar, 50px - offset */
  height: 100%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

/* Use bigger title on question page */
.question-screen-content .question-title {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.question-screen-content img {
  max-width: 100%;
}

/* Remove image link underlining */
.question-screen-content a[href^="http://i.stack.imgur.com"] {
  border: none;
  cursor: pointer;
}

.question-screen.is-shown {
  display: block;
  animation: slide-left 250ms ease-out;
}

.question-screen-backdrop.is-shown {
  display: block;
  animation: fade-in 600ms;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
