.CodeMirror {
  border-width: 2px !important;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 100px !important;
}

.editor-toolbar {
  border-width: 2px !important;
}

.__green {
  color: #17B717;
}

.__red {
  color: #D26868;
}
