.CodeMirror {
  border-width: 2px !important;
  font-size: 14px !important;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 100px !important;
}

.editor-toolbar {
  border-width: 2px !important;
}

.question-screen-answer-form .editor-toolbar, .question-screen-answer-form .CodeMirror {
  border: none;
}

.__green {
  color: #17B717;
}

.__red {
  color: #D26868;
}
